---
import "swiper/css";
import 'swiper/css/pagination';

/* GET LANG */
import { getI18N } from '../i18n';
const { currentLocale } = Astro;
const i18n = getI18N({currentLocale});
const CLIENTES = i18n.CLIENTS.SLIDES;
---
<style>

@media (min-width: theme("screens.xg")) {

  .swiper:after{
      position: absolute;
      content: "";
      width: 33%;
      height: 100%;
      background: white;
      top: 0;
      right: 0;
      z-index: 10;
      pointer-events: none;
      transform: translateX(90%);
  }

}
</style>
<div class="swiper swiper-client">
  <div class="swiper-wrapper pb-[3.5rem] xg:pb-6">
    {
      Object.entries(CLIENTES).map( ([key, client]) => {
        return (
        <div class="swiper-slide">
          <div class="card-client slide">
            <h3>
              <span class="text-e-blue">
                <Fragment set:html={client.NAME} />
              </span>
              -
              <Fragment set:html={client.TITLE} />
            </h3>
            <div>
              <div class="talk">
                <p>{client.INTRO}</p>
                <p class="author">{client.AUTHOR}</p>
              </div>

              <div class="ctas">
                {
                  Object.entries( client.BULLETS ).map( ([key, line]) => <div>{line}</div>
                  )
                }
              </div>
            </div>
          </div>
        </div>
       );
    })
  }
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay, Pagination } from "swiper/modules";

  function swiperClient() {
    const SwiperClient = new Swiper(".swiper-client", {
      modules: [Autoplay, Pagination],
      spaceBetween: 10,
      slidesPerView: 1,
      speed: 800,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 2,
        },
        992: {
          slidesPerView: 3,
        },
      }
    });

  } // swiperClient


  document.addEventListener("DOMContentLoaded", swiperClient );
  document.addEventListener("astro:after-swap", swiperClient);
</script>
