---
import "swiper/css";
import 'swiper/css/pagination';
// const { slides } = Astro.props;
import CLIENTS from "../data/clientes.json";
---
<style>

@media (min-width: theme("screens.xg")) {

  .swiper:after{
      position: absolute;
      content: "";
      width: 33%;
      height: 100%;
      background: white;
      top: 0;
      right: 0;
      z-index: 10;
      pointer-events: none;
      transform: translateX(90%);
  }

}
</style>
<div class="swiper swiper-client">
  <div class="swiper-wrapper pb-[3.5rem] xg:pb-6">
    {
      CLIENTS.map((client) => (
        <div class="swiper-slide">
          <div class="card-client slide">
            <h3>
              <span class="text-e-blue">
                {" "}
                <Fragment set:html={client.name} />{" "}
              </span>{" "}
              -
              <Fragment set:html={client.title} />
            </h3>
            <div>
              <div class="talk">
                <p>{client.intro}</p>
                <p class="author">{client.author}</p>
              </div>

              <div class="ctas">
                {
                  client.bullets.map(
                      (line) => <div>{line}</div>
                  )
                }
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay, Pagination } from "swiper/modules";

  function swiperClient() {
    const SwiperClient = new Swiper(".swiper-client", {
      modules: [Autoplay, Pagination],
      spaceBetween: 10,
      slidesPerView: 1,
      speed: 800,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 2,
        },
        992: {
          slidesPerView: 3,
        },
      }
    });

  } // swiperClient


  document.addEventListener("DOMContentLoaded", swiperClient );
  document.addEventListener("astro:after-swap", swiperClient);
</script>
