---
import Modal from "@/components/Modal.astro";
import { Picture } from "astro:assets";

/* Team data */
import carlosIMG from "../assets/Carlos-Pera.jpg";
import andresIMG from "../assets/Andres-Kavedjian.jpg";
import luisIMG from "../assets/Luis-Brennan.jpg";

/* GET LANG */
import { getI18N } from '../i18n';
const { currentLocale } = Astro;
const i18n = getI18N({currentLocale});

const TEAM = i18n.NOSOTROS.TEAM;
---

<!-- Services Modals -->
<Modal name="cfo-as-a-service" show="off" type="service">
  <div>
    <h3>
      { i18n.SERVICIOS.CFO.C1.TITLE } <br />
      <span class="text-e-blue">
        { i18n.SERVICIOS.CFO.C1.SUBTITLE }
      </span>
    </h3>
    <div>
      <p>
        { i18n.SERVICIOS.CFO.C1.T1 }
      </p>
      <p>
        { i18n.SERVICIOS.CFO.C1.T2 }
      </p>
      <ul class="list-disc">
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C1.L1} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C1.L2} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C1.L3} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C1.L4} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C1.L5} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C1.L6} /> </li>
      </ul>
    </div>
  </div>
  <div>
    <h3>
      { i18n.SERVICIOS.CFO.C2.TITLE } <br />
      <span class="text-e-blue">
        { i18n.SERVICIOS.CFO.C2.SUBTITLE }
      </span>
    </h3>
    <div>
      <p>
        { i18n.SERVICIOS.CFO.C2.T1 }
      </p>

      <p>
        { i18n.SERVICIOS.CFO.C2.T2 }
      </p>

      <ul>
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C2.L1} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C2.L2} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C2.L3} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C2.L4} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.CFO.C2.L5} /> </li>
      </ul>
    </div>
  </div>
</Modal>

<Modal name="inter-negocios" show="off" type="service">
  <div>
    <h3>
      <Fragment set:html={i18n.SERVICIOS.INTER.TITLE} />
    </h3>
    <div>
      <p>
        { i18n.SERVICIOS.INTER.T1 }
      </p>
      <ul class="list-disc">
        <li> <Fragment set:html={i18n.SERVICIOS.INTER.L1} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.INTER.L2} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.INTER.L3} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.INTER.L4} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.INTER.L5} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.INTER.L6} /> </li>
      </ul>
    </div>
  </div>
</Modal>

<Modal name="m-a" show="off" type="service">
  <div>
    <h3>
      <Fragment set:html={i18n.SERVICIOS.MA.TITLE} />
    </h3>
    <div>
      <p>
        { i18n.SERVICIOS.MA.T1 }
      </p>
      <ul class="list-disc">
        <li> <Fragment set:html={i18n.SERVICIOS.MA.L1} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.MA.L2} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.MA.L3} /> </li>
      </ul>
    </div>
  </div>
</Modal>

<Modal name="tecno-negocio" show="off" type="service">
  <div>
    <h3>
      <Fragment set:html={i18n.SERVICIOS.TECNO.TITLE} />
    </h3>
    <div>
      <p>
        { i18n.SERVICIOS.TECNO.T1 }
      </p>
      <ul class="list-disc">
        <li> <Fragment set:html={i18n.SERVICIOS.TECNO.L1} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.TECNO.L2} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.TECNO.L3} /> </li>
      </ul>
    </div>
  </div>
</Modal>

<Modal name="investor" show="off" type="service">
  <div>
    <h3>
      <Fragment set:html={i18n.SERVICIOS.INVESTOR.TITLE} />
    </h3>
    <div>
      <p>
        { i18n.SERVICIOS.INVESTOR.T1 }
      </p>
      <ul class="list-disc">
        <li> <Fragment set:html={i18n.SERVICIOS.INVESTOR.L1} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.INVESTOR.L2} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.INVESTOR.L3} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.INVESTOR.L4} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.INVESTOR.L5} /> </li>
        <li> <Fragment set:html={i18n.SERVICIOS.INVESTOR.L6} /> </li>
      </ul>
    </div>
  </div>
</Modal>

<!-- Team Modals -->

{
  Object.entries(TEAM).map(([key, team]) => {

    const currImg = team.slug === "carlos" ? carlosIMG : team.slug === "andres" ? andresIMG : luisIMG;

    return (
      <Modal name={`team-` + team.slug} show="off" type="team">
  
          <Picture
            class="w-full object-cover max-w-[initial] rounded-3xl"
            src={currImg}
            formats={["webp"]}
            alt={team.name}
          />
       
        <div class="content">
          <div class="flex flex-col justify-between">
            <h3>
              {team.name} <br />
              <span class="opacity-35">{team.role}</span>
            </h3>
            <div class="social">
              <a href={ `mailto: ${team.email} `} class="btn btn-small btn-outline" target='_blank' rel='noreferrer noopener' >
                Email
              </a>
              <a href={team.linkedin} class="btn btn-small btn-outline" target='_blank' rel='noreferrer noopener' >
                Linkedin
              </a>
            </div>
          </div>  
          <div class="mt-4 xg:mt-0 xg:w-75%">
            <Fragment set:html={team.desc} />
          </div>
        </div>
      </Modal>
    );

  })
  
}
