---
import CardTeam from "./CardTeam.astro";
import carlosIMG from "../assets/Carlos-Pera.jpg";
import andresIMG from "../assets/Andres-Kavedjian.jpg";
import luisIMG from "../assets/Luis-Brennan.jpg";

/* GET LANG */
import { getI18N } from '../i18n';
const { currentLocale } = Astro;
const i18n = getI18N({currentLocale});

const TEAM = i18n.NOSOTROS.TEAM;

---

<style>
  .team-wrap{
    @apply flex overflow-x-auto xg:grid-cols-3 gap-2 xg:gap-[3.2rem] ctr-px xg:px-0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
</style>

<!-- Plus Icon White Hidden -->
<svg style="display:none"><symbol id="plus-white" viewBox="0 0 32 32"><g clip-path="url(#clip0_577_159)"><rect fill="white" height="32" rx="16" width="32"/><path d="M8 15.5967C8 15.1215 8.39758 14.724 8.86303 14.724H15.137V8.45971C15.137 7.99426 15.5248 7.59668 16 7.59668C16.4752 7.59668 16.8727 7.99426 16.8727 8.45971V14.724H23.137C23.6024 14.724 24 15.1215 24 15.5967C24 16.0718 23.6024 16.4597 23.137 16.4597H16.8727V22.7336C16.8727 23.1991 16.4752 23.5967 16 23.5967C15.5248 23.5967 15.137 23.1991 15.137 22.7336V16.4597H8.86303C8.39758 16.4597 8 16.0718 8 15.5967Z" fill="#000033"/></g><defs><clipPath id="clip0_577_159"><rect fill="white" height="32" rx="16" width="32"/></clipPath></defs></symbol></svg><svg width="32" height="32"><use xlink:href="#icon-plus"></use></svg>

<!-- Plus Icon Blue Hidden -->
<svg style="display:none"><symbol id="plus-blue" viewBox="0 0 32 32"><g clip-path="url(#clip0_577_159)"><rect fill="#000033" height="32" rx="16" width="32"/><path d="M8 15.5967C8 15.1215 8.39758 14.724 8.86303 14.724H15.137V8.45971C15.137 7.99426 15.5248 7.59668 16 7.59668C16.4752 7.59668 16.8727 7.99426 16.8727 8.45971V14.724H23.137C23.6024 14.724 24 15.1215 24 15.5967C24 16.0718 23.6024 16.4597 23.137 16.4597H16.8727V22.7336C16.8727 23.1991 16.4752 23.5967 16 23.5967C15.5248 23.5967 15.137 23.1991 15.137 22.7336V16.4597H8.86303C8.39758 16.4597 8 16.0718 8 15.5967Z" fill="white"/></g><defs><clipPath id="clip0_577_159"><rect fill="white" height="32" rx="16" width="32"/></clipPath></defs></symbol></svg><svg width="32" height="32"><use xlink:href="#icon-plus"></use></svg>

<p class="text-h5 xg:text-h4 text-deep-blue mb-6 xg:mb-10 ctr-pl xg:pl-0">
  Nuestro equipo, <br class="xg:hidden"> tu socio en el éxito
</p>

<div class="team-wrap">
  {
      Object.entries(TEAM).map(([key, team]) => {

      const currImg = team.slug === 'carlos' ? carlosIMG : team.slug === 'andres' ? andresIMG : luisIMG;
      return <CardTeam name={team.name} role={team.role} src={currImg} slug={team.slug} />

    })
  }
</div>
